.WebContent{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*padding: 50px;*/
}

.ContImg{
  padding: 20px;
  object-fit: contain;
  width: 100%;
  height: 100%;
  align-self: center;

}

.ContTxt{
  padding: 20px;
  align-self: top;
  padding-left: 20px;
}
